<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ asset("assets/images/favicon.ico") }}">

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/font-awesome/css/all.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/bootstrap-icons/bootstrap-icons.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/tiny-slider/tiny-slider.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("assets/vendor/glightbox/css/glightbox.css") }}">

        <link id="style-switch" rel="stylesheet" type="text/css" href="{{ asset("assets/css/style.css") }}">
    {% endblock %}
</head>
<body>
<main>{% block body %}{% endblock %}</main>
{% block javascripts %}
    <script src="{{ asset("assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/tiny-slider/tiny-slider.js") }}"></script>
    <script src="{{ asset("assets/vendor/glightbox/js/glightbox.js") }}"></script>
    <script src="{{ asset("assets/vendor/purecounterjs/dist/purecounter_vanilla.js") }}"></script>
    <script src="{{ asset("assets/js/functions.js") }}"></script>
{% endblock %}
</body>
</html>
